.calcWrapper {
    width: 100%;
    height: auto;
    padding: 40px 0;
    border-radius: 7px;
    border: 1px solid rgba(209, 213, 219, 0.4);
    transition: background-color 0.3s ease;
}

.calcBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
}

.calcBtn {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    width: 100%;
    height: 50px;
    margin-right: 5px;
    border: 0;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    font-size: 1em;
    backdrop-filter: blur(16px) saturate(180%);
}

.light {
    --calc-bg: #fff;
    --calc-btn-bg: #f1f1f1;
    --calc-btn-text: #333;
    --calc-btn-hover: #e1e1e1;
    --result-bg: #e9e9e9;
    --result-text: #333;
}

.dark {
    --calc-bg: #333;
    --calc-btn-bg: #444;
    --calc-btn-text: #fff;
    --calc-btn-hover: #555;
    --result-bg: #222;
    --result-text: #fff;
}

.calcWrapper {
    background-color: var(--calc-bg);
    padding: 1rem;
    border-radius: 1rem;
}

.calcBtn {
    background-color: var(--calc-btn-bg);
    color: var(--calc-btn-text);
}

.calcBtn:hover {
    background-color: var(--calc-btn-hover);
}

#resultScreen {
    width: 100%;
    height: 70px;
    overflow: hidden;
    margin: auto;
    vertical-align: 50%;
    border-radius: 7px;
    padding: 0.3em;
    font-size: 2em;
    text-align: right;
    background-color: var(--result-bg);
    color: var(--result-text);
}

#bigZero {
    width: 105px;
    height: 50px;
    margin-right: 5px;
    border: 0;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
}
