.column{
    /*width: 500px;*/
    margin-right: 10px;
    border: 1px solid grey;
    min-height: 100vh;
    border-radius: 10px;
    margin-top: 10px;
}

.emptyColumn {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #575757;
    text-align: center;
}
